/* homePage class */ 
body{
    font-family: "Helvetica";
    padding: 0;
    margin: 0;
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid ;
    border-color: lightgray;
    border-width: 1px;
}


.Container{
    width: 100%;
    min-width: 560px;
    position:absolute;
}

.Home{
    background-image: url("HomePageBackground.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 750px;
}

headColorSwitch{
    color: orange;
    text-decoration: none;
}


.HeaderFont{
    font-weight: 500;
    font-size: 65px;
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}
.HeaderFont:hover{
    font-weight: 500;
    font-size: 65px;
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}
.Header2Font{
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: lightgrey;
    letter-spacing: 1px;
}

.HomeTextFont{
    font-weight: 600;
    font-size: 47px;
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000000;
}

.HomeText2Font{
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #000000;
    line-height: 30px;
}

.Header{ 
    position: absolute;
    margin-top: 20px;
    margin-left: 3%;
    padding: 10px;
    left: 10px;
}

.HomeText{
    min-height: 200px;
    max-width: 800px;
    top: 225px;
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /*background-image: url("HomeTextBackground.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom bottom;
   */
}

.hamburger{
    display: none;
    background:none;
    position:absolute;
    margin-top: 20px;
    right:20px;
    line-height:15px;
    padding: 15px 15px;
    color: white;
    border:0;
    border-radius: 5px;
    font-size: 28px;
    font-weight: 100;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}

.cross{
    display: none;
    background:none;
    position:absolute;
    margin-top: 20px;
    right:20px;
    line-height:15px;
    padding: 15px 15px;
    color: white;
    border:0;
    border-radius: 5px;
    font-size: 28px;
    font-weight: 100;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}
@media screen and (max-width: 850px){
    .HomeText{
        min-height: 200px;
        max-width: 350px;
        top: 200px;
        text-align: center;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        /*background-image: url("HomeTextBackground.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: bottom bottom;
       */
    }
    .HomeTextFont{
        font-weight: 600;
        font-size: 35px;
        margin: 0;
        padding: 0;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        text-shadow: 2px 2px 4px #000000;
    }

    .HomeText2Font{
        font-weight: 300;
        font-size: 16px;
        font-style: italic;
        margin: 0;
        padding: 0;
        color: white;
        text-decoration: none;
        letter-spacing: 2px;
        text-shadow: 1px 1px 1px #000000;
        line-height: 30px;
    }
    
}

@media screen and (max-width: 983px){
    .HeaderFont{
        font-size: 50px;
    }
    .Header2Font{
        font-size: 16px;
    }
    
    nav ul{
        max-height: 0px;
        position: absolute;
        margin-top: 20px;
        top:35px;
        right: 0px;
        overflow: hidden;
        color:white;
        width: 170px;
        text-align: right;
        z-index: 10;
    }
    .showing{
        max-height: 260px;
    }

    nav ul li{
        box-sizing: border-box;
        display: inline-block;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase; 
        padding: 20px;
    }
    
    .hamburger{
        display: block;
    }
}

nav ul{
    background-color: transparent;
    position: absolute;
    margin-top: 30px;
    padding: 0px;
    right:20px;
    overflow: hidden;
    color:white;
    -webkit-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;

}

nav ul li{
    display: inline-block;
    margin:0;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase; 
    padding: 16px 14px;
    vertical-align: center;
    text-align: center;
}

nav ul li:hover{
    color:black;
    background:white;
    transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
    -webkit-transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
    -ms-transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
    -moz-transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
    -o-transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
}

a{
    text-decoration: none;
    color: inherit;
}


.Button-SignUp:hover{
    color:black;
    background:white;
    transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
    -webkit-transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
    -ms-transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
    -moz-transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
    -o-transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
}

.Signup{
    position: fixed;
    top: 60px;
    right: 380px;
    left: 380px;
    margin: 50px;
    margin-top:90px;
    background-color: rgba(255, 2555, 2555, 0.5);
    border-radius:10px;
    opacity:100;
    height:500px;
}

.PostItem{
    position: fixed;
    top: 60px;
    right: 380px;
    left: 380px;
    margin: 50px;
    margin-top:90px;
    background-color: rgba(255, 2555, 2555, 0.5);
    border-radius:10px;
    opacity:100;
    height:500px;
}


.TextboxField{
    font-family: Arial;
    font-size: small;
    border-color: orange;
    font-size:.5vw;
    background:rgba(255,255,255, 0.7);
    box-sizing: border-box;
    color:  #474747;
    height: 40px;
    border-radius: 7px;
}


#CreateButton{
    margin-left:250px;
    right: 24vw;
    top: 36.5vw;
}

.Button{
    padding: .4vw 1.6vw;
    display: inline-block;
    text-decoration:none;
    border-radius: 5px;
    font-size: 1.9vw;
}

.Button-Create{
    margin-top:20px;
    color:black;
    background:#FFA500;
}

.Button-Create:hover{
    color:white;
    background:rgba(230,110,0, 0.9);
}

.Button-Facebook{
    margin-left:90px;
    margin-top:3px;
    color:white;
    background:#3b5998;
    font-size: 17px;
}

.Button-Google{
    margin-left:100px;
    margin-top:20px;
    color:white;
    background:#db3236;
    font-size: 17px;
}

h2{
    color: orange;
    font-size: 275%; 
    margin: 20px;
}

h2.CATitle{
    color: #474747;
    font-size:40px;
    text-align: center;
}

.Button-SignUp{
    display: inline-block;
    text-decoration: none;
    font-size:14px;
    font-style:normal;
    border-radius: 15px;
    border: 2px solid white;
    margin: 0;
    padding: 16px 20px;
    margin-top: 2px;
    line-height: 1;
    font-weight:600;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    color: white;
    vertical-align: center;
}
.SearchItemTextBoxes{
    height: auto;
    max-width: 700px;
    top: 225px;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

.AccountButton{
    margin-top: 20px;
    margin-right: 3%;
    text-align: right;
    line-height: 60px;
    width: 130px;
    position: absolute;
    right: 10px;
}

.HowItWork{
    margin-left: 20px;
    margin-right: 20px; 
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    position: relative;
}
.search{
    margin-left: 10px;
    margin-right: 10px; 
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.TitleFont{
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 30px;
}

.TitleSubFont{
    padding: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: uppercase;
    color: #474747;
}

.ContentFont{
    padding: 5px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 100;
    line-height: 25px;
    color: dimgrey;
}

.searchImg{
    width: 220px;
}
.searchContent{
    border-radius: 5px;
    text-align: center;
    width: 350px;
    padding: 10px;
    margin: auto;
    margin-top: 25px;
    display: inline-block;
    vertical-align: top;
    word-wrap:break-word;
    text-decoration: none;
}

.searchContent:hover{
    text-align: center;
    width: 350px;
    padding: 10px;
    margin: auto;
    margin-top: 25px;
    display: inline-block;
    vertical-align: top;
    word-wrap:break-word;
    background-color: #e0e0e0;
    text-decoration: none;
}

.StepImgs{
    width: 170px;
    text-decoration: none;
}

.StepContent{
    text-align: center;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-top: 25px;
    display: inline-block;
    vertical-align: top;
    word-wrap:break-word;
}

.PriceContent{
    text-align: center;
    width: 500px;
    padding: 10px;
    margin: auto;
    margin-top: 25px;
    display: inline-block;
    vertical-align: top;
    word-wrap:break-word;
}


.Button-Find{
    font-weight: 400;
    padding: 10px 14px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    text-transform: uppercase;
    margin:0px;
    font-size: 18px;
    letter-spacing: 2px;
    color:black;
    background:#FFA500;
}
.Button-Find:hover{
    text-decoration: none;
    color:white;
    background:rgba(230,110,0, 1);
    transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
    -webkit-transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
    -ms-transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
    -moz-transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
    -o-transition: background-color .15s 0s ease-in-out, color .15s 0s ease-in-out;
}

.TextboxField{
    margin: 10px;
    padding: 10px;
    font-family: Arial;
    font-weight: 300;
    letter-spacing: 2px;
    border: transparent;
    font-size:24px;
    background:rgba(255,255,255, 0.7);
    box-sizing: border-box;
    padding:10px 24px;
    color:  black;
    border-style: solid;
    border-radius: 11px;
}
.TextboxField-SearchItem{
    width: 300px;
    height: 55px;
}

.TextboxField-Location{
    width: 300px;
    height: 55px;
}


::-webkit-input-placeholder { /* Chrome */
    font-family: Helvetica;
    color: dimgrey;
    opacity: .8;
}
:-ms-input-placeholder { /* IE 10+ */
    color: dimgrey;
}
::-moz-placeholder { /* Firefox 19+ */
    color: dimgrey;

    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: dimgrey;
    opacity: 1;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 63px;
  background-color: #e0e0e0;
  text-align: center;
}









